/* globals.css */
:root {
  /* Paleta de Colores */
  --color-primary: #FF0000;       /* Rojo intenso */
  --color-primary-hover: #cc0000; /* Rojo más oscuro */
  --color-background: #000000;    /* Negro absoluto */
  --color-text-on-dark: #FFFFFF;  /* Texto blanco */
  --color-text-shadow: rgba(0, 0, 0, 0.1); /* Sombra sutil */

  /* Tipografía */
  --font-family-base: 'Montserrat', sans-serif;

  /* Layout */
  --sidebar-width: 260px;
  --sidebar-width-collapsed: 70px;
  
  /* Espaciado */
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  background-color: #121212; /* Un gris muy oscuro en lugar de negro puro para el fondo del body */
  color: var(--color-text-on-dark);
}